html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

hr.separador-h{
 margin-top:0px;
 margin-bottom:0px;
 height:1px;
 width:100%;
 border-top:10px solid gray;
}

hr.separador-h-success{
 margin-top:0px;
 margin-bottom:0px;
 height:1px;
 width:100%;
 border-top:10px solid green;
}

body.conpatrondefondo
{
  background-image: url(../imgs/patron.png);
}
.navbar-custom {
    background-color: rgba(255,255,250,.8);
}

.btn-success-azul
{
background-color: #0F5D9E;
color: #FFFFFF;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}
