div.contenedor
{
  width:85%;
margin: 0 auto;
}

html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

hr.separador-h{
 margin-top:0px;
 margin-bottom:0px;
 height:1px;
 width:100%;
 border-top:10px solid gray;
}

hr.separador-h-success{
 margin-top:0px;
 margin-bottom:0px;
 height:1px;
 width:100%;
 border-top:10px solid green;
}

body.conpatrondefondo
{
  background-image: url(../imgs/patron.png);
}


.btn-success-azul
{
background-color: #0F5D9E;
color: #FFFFFF;
}
